{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container page-margins">

        <!-- Page Header -->
        <div class="row">
            <div class="col-12 page-title">
                    <h3>Frequently Asked Questions</h3>
                <hr class="section-divider">
            </div>
        </div>

        <!-- Page Content -->
        <div class="row page-content">
            <div class="col-12">
                <p>Below is a list of some of our frequently asked questions to help in your enquiry.</p>
                <p>If you can't find an answer to your question, feel free to get in touch, via our <strong><a class="page-link" href="{% url 'view_contact' %}">Contact</a></strong> page.</p>
                <p>For a detailed outline of our Academy, visit our <strong><a href="{% url 'view_programme' %}" class="page-link">Academy Programme</a></strong> page.</p>
            </div>
            <div class="col-12 col-toggle d-flex justify-content-center justify-content-md-start">
                <button class="btn" id="hideAccordianCards">Hide All</button>
                <button class="btn" id="showAccordianCards">Show All</button>
            </div>
            <div class="col-12 w-100">
                {% for question in questions %}
                    <div id="accordion">
                        <div class="card col-box">
                        <div class="col-title card-header" id="questionCollapse">
                            <h5 class="mb-0 text-center text-md-left">
                                <button class="btn btn-link" data-toggle="collapse" data-target="#col_{{ question.id }}" aria-expanded="false" aria-controls="col_{{ question.id }}">
                                    {{ question.question }}
                                </button>
                            </h5>
                        </div>
                    
                        <div id="col_{{ question.id }}" class="question-col collapse" aria-labelledby="questionCollapse">
                            <div class="card-body col-text container-fluid">
                                {{ question.answer }}
                            </div>
                        </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script>
        // ref: https://stackoverflow.com/questions/22057505/bootstrap-collapse-expand-all
        $("#hideAccordianCards").click(function() {
            $('.question-col.collapse').removeClass('show');
        });
        $("#showAccordianCards").click(function() {
            $('.question-col.collapse').addClass('show');
        });
    </script>
{% endblock %}
