
{% extends "base.html" %}
{% load static %}


{% block content %}
    <div class="container-fluid">
        <div class="row">
            <!-- Home Hero -->
            <div id="home-hero" class="col-12 d-flex align-items-center">
                <div class="row d-flex justify-content-center">
                    <div id="home-logo" class="col-12 col-lg-6">
                        <img src="{% static 'img/logo-text.png' %}" alt="Delphin Logo" class="w-100 h-100">
                    </div>
                    <div id="home-intro" class="col-12 col-lg-6">
                        <h3>Welcome Swimmers!</h3>
                        <p>Delphin Lifesaving Club is a Dublin based Swimming and Lifesaving Club.</p>
                        <p>Our range of classes extends all ages and levels, from babies all the way up to Lifeguards.</p>
                        <p>Book a course and start your swimming journey today!</p>
                    </div>
                </div>
            </div>
            <hr id="home-divider">

            <!-- Home Content -->
            <div class="home-content col-12">
                <div class="container-fluid">
                    <div class="row text-center d-flex justify-content-center">
                        <div class="col-12 col-md-6 col-lg-3 home-link d-flex justify-content-center">
                            <div class="row">
                                <div class="col-12 home-img">
                                    <a href="{% url 'apparel' %}?category=tshirts,jacket_hoodies">
                                        <img src="{% static 'img/home-apparel.png' %}" alt="Delphin Jacket">
                                    </a>
                                </div>
                                <div class="col-12 home-btn">
                                    <a class="btn-shadow" href="{% url 'apparel' %}?category=tshirts,jacket_hoodies">Shop Apparel</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3 home-link d-flex justify-content-center">
                            <div class="row">
                                <div class="col-12 home-img">
                                    <a href="{% url 'apparel' %}?category=swimwear">
                                        <img src="{% static 'img/home-swim.png' %}" alt="Delphin Swimwear">
                                    </a>
                                </div>
                                <div class="col-12 home-btn">
                                    <a class="btn-shadow" href="{% url 'apparel' %}?category=swimwear">Shop Swimwear</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3 home-link d-flex justify-content-center">
                            <div class="row">
                                <div class="col-12 home-img">
                                    <a href="{% url 'apparel' %}?category=accessories,swim_accessories">
                                        <img src="{% static 'img/home-acc.png' %}" alt="Delphin Accessories">
                                    </a>
                                </div>
                                <div class="col-12 home-btn">
                                    <a class="btn-shadow" href="{% url 'apparel' %}?category=accessories,swim_accessories">Shop Accessories</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-6 col-lg-3 home-link d-flex justify-content-center">
                            <div class="row">
                                <div class="col-12 home-img">
                                    <a href="{% url 'apparel' %}?category=swimming_jnr,swimming_snr,lifesaving,lifeguarding">
                                        <img src="{% static 'img/home-courses.png' %}" alt="Delphin Course Logo">
                                    </a>
                                </div>
                                <div class="col-12 home-btn">
                                    <a class="btn-shadow" href="{% url 'courses' %}?category=swimming_jnr,swimming_snr,lifesaving,lifeguarding">Shop Courses</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}