{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block content %}
    <div class="container page-margins">

        <!-- Checkout Logo and Progress Bar -->
        {% include 'checkout/includes/checkout_header.html' %}

        <!-- Page Header -->
        <div class="row">
            <div class="col-12 page-title">
                <h3>Review Your Order</h3>
                <hr class="section-divider">
            </div>
        </div>

        <!-- Page Content -->
        <div class="row p-2">
            <div class="col-12 review-items">
                {% include 'checkout/includes/lineitems.html' %}
            </div>
        </div>
    </div>
{% endblock %}
