{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block content %}
    <div class="container page-margins">

        <!-- Checkout Logo and Progress Bar -->
        {% include 'checkout/includes/checkout_header.html' %}

        <!-- Orderline items for mobile (accordian menu) -->
        {% include 'checkout/includes/order_summary.html' %}
        

        <!-- Page Header -->
        <div class="row">
            <div class="col-12 page-title">
                <h3>Order Information</h3>
                <hr class="section-divider">
            </div>
        </div>

        <!-- Page Content -->
        <div class="row">
            <div class="col-12 col-lg-6">
                <p class="text-muted">
                    Fill all required fields to complete your order
                </p>
                <form action="{% url 'checkout' %}" method="POST" id="payment-form">
                    {% csrf_token %}
                    <fieldset class="my-2">
                        <legend class="form-label">Customer Details</legend>
                        {{ order_form.full_name | as_crispy_field }}
                        {{ order_form.email | as_crispy_field }}
                    </fieldset>
                    <fieldset class="my-2">
                        <legend class="form-label">Delivery Details</legend>
                        {{ order_form.phone_number | as_crispy_field }}
                        {{ order_form.street_address1 | as_crispy_field }}
                        {{ order_form.street_address2 | as_crispy_field }}
                        {{ order_form.town_or_city | as_crispy_field }}
                        {{ order_form.county | as_crispy_field }}
                        {{ order_form.eircode | as_crispy_field }}
                        {{ order_form.country | as_crispy_field }}
                        
                        <div class="form-check form-check-inline float-right mr-0">
                            {% if user.is_authenticated %}
                                <label for="id-save-info" class="form-check-label">Save this delivery information to my profile</label>
                                <input type="checkbox" class="form-check-input ml-2 mr-0" id="id-save-info" name="save-info" checked>
                            {% else %}
                                <label for="id-save-info" class="form-check-label">
                                    <a href="{% url 'account_signup' %}" class="text-info">Create an account</a> or
                                    <a href="{% url 'account_login' %}" class="text-info">login</a> to save this information
                                </label>
                            {% endif %}
                        </div>

                    </fieldset>
                    <fieldset class="px-3">
                        <legend class="fieldset-label small text-black px-2 w-auto">Payment</legend>
                        <!-- A Stripe card element will go here -->
                        <div class="mb-3" id="card-element"></div>

                        <!-- Used to display form errors -->
                        <div class="mb-3 text-danger" id="card-errors" role="alert"></div>

                    </fieldset>
                    <div class="submit-button text-right mt-5 mb-2">
                        <a href="{% url 'shopping_bag' %}" class="btn btn-ouline-black rounded-0">
                            <span class="icon">
                                <i class="fas fa-chevron-left"></i>
                            </span>
                            <span class="font-weight-bold">Adjust Bag</span>
                        </a>
                        <button id="submit-button" class="btn btn-black rounded-0">
                            <span class="font-weight-bold">
                                Complete Order
                            </span>
                            <span class="icon">
                                <i class="fas fa-lock"></i>
                            </span>
                        </button>
                        <p class="small text-danger my-0">
                            <span class="icon">
                                <i class="fas fa-exclamation-circle"></i>
                            </span>
                            <span>Your card will be charged <strong>${{ grand_total|floatformat:2 }}</strong></span>
                        </p>
                    </div>
                </form>
            </div>
            <div class="d-none d-lg-block col-lg-6">
                <p class="text-muted">
                    Order Summary ({{ product_count }} items)
                </p>
                {% include 'checkout/includes/lineitems.html' %}
            </div>
        </div>
    </div>
{% endblock %}
