/* --- Font Imports --- */

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&family=Londrina+Solid&display=swap');


/* --- Root Variables --- */

:root {
    /* Font Variables */
    --body-font: 'Lato', sans-serif;
    --title-font: 'Londrina Solid', cursive;

    /* Colour Variables */
    --white: #ffffff;
    --yellow: #E5DC3F;
    --red: #B8060B;
    --black: #0A0A0A;
    --blue: #BBF2ED;

    /* Misc Colour Variables */
    --border-shadow: rgba(10, 10, 10, 0.663);
    --border-dark: rgba(0, 0, 0, 0.6);
    --border-light: rgba(0,0,0,.1);
    --dark-box: rgba(0,0,0,0.8);
}

/* --- Special Styling --- */

body {
    font-family: var(--body-font);
    color: var(--black);

    /* for footer placement
    ref: https://dev.to/nehalahmadkhan/how-to-make-footer-stick-to-bottom-of-web-page-3i14 */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
input {
    border: none;
}
/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}
.page-margins {
    padding: 2% 7%;
    margin: 0 auto;
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}
.active a {
    color: var(--red);
}
#home-divider {
    /*ref: https://stackoverflow.com/questions/12639823/hr-not-showing*/
    margin: 0;
    border: 0;
    clear:both;
    display:block;
    width: 100%;               
    height: 12px;
    -webkit-box-shadow: inset 0 12px 12px -12px var(--border-dark);
    -moz-box-shadow: inset 0 12px 12px -12px var(--border-dark);
    box-shadow: inset 0 12px 12px -12px var(--border-dark);
}
.section-divider {
    margin: 2px;
    border: 0;
    width: 100%; 
    height: 1px;
    background-color: var(--border-dark);
}
.page-title {
    padding-bottom: 10px;
}
.page-title h3 {
    font-family: var(--title-font);
    font-size: 2.1rem;
}
.btn-shadow {
    -webkit-box-shadow: var(--grey) 0 0 10px;
    -moz-box-shadow: var(--grey) 0 0 10px;
    box-shadow: var(--grey) 0 0 10px;
}

/* --- Navbar --- */

nav.navbar {
    background-color: var(--white);
    border-bottom: 1px solid var(--black);
}
#nav-logo {
    margin-right: 0;
}
#nav-logo img {
    height: 50px;
}
.nav-link, .dropdown-item {
    font-size: 1.7rem;
    font-family: var(--title-font);
    color: var(--black);
    letter-spacing: 1px;
}
button.navbar-toggler {
    color: var(--black);
    font-size: 1.7rem;
    padding: 15px;
}
.bag-icon-sm i {
    font-size: 2.4rem;
}
.bag-icon-sm span {
    /* adapted from https://tinyurl.com/57sa5sj7 */
    font-family: var(--body-font);
    font-weight: bold;
    font-size: 1rem;
    position: absolute;
    display: inline-flex;
    width: 25px;
    height: 25px;
    color: var(--white);
    border-radius: 50%;
    justify-content: space-evenly;
    align-items: flex-end;
}

/* --- Footer --- */

footer {
    background-color: var(--black);
    margin-top: auto;
}
.footer-title {
    font-family: var(--title-font);
    color: var(--yellow);
    font-size: 2rem;
    padding-top: 10px;
}
.footer-text {
    color: var(--white);
    line-height: revert;
}
#footer-end {
    font-family: var(--title-font);
    color: var(--yellow);
    font-size: 1rem;
    padding: 20px 15px 10px 15px;
}
.footer-icons {
    color: var(--yellow);
    font-size: 1.7rem;
}

/* --- Toasts --- */
.toast {
    background-color: var(--white);
    font-size: .9rem;
}
.message-container {
    position: fixed;
    width: 300px;
    top: 75px;
    right: 0;
    z-index: 2000;
}
.custom-toast {
    overflow: visible;
}
.toast-capper {
    background-color: var(--yellow);
    height: 2px;
}
.bag-snippet {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}
.toast-msg {
    padding-bottom: 5px;
}
.toast-msg p {
    margin-bottom: 0;
}
.toast-count {
    margin-bottom: .2rem;
    padding: 10px 5px;
    font-size: .8rem;
}
.toast-count span{
    font-size: 1.2rem;
    font-family: var(--title-font);
}
.toast-highlighted {
    background-color: var(--yellow);
    color: var(--black);
    text-align: center;
    padding: 10px;
}
.toast-btn {
    background-color: var(--black);
    color: var(--white);
}
.toast-btn:hover,
.toast-btn:focus {
    color: var(--yellow);
}


/* --- Home Page --- */

.home-content {
    padding: 5% 10%;
    margin: 5% 0;
}
#home-hero {
    background-image: url('../img/water-hero.png');
    height: 92vh;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0 5%;
}
#home-logo {
    margin: 5% auto;
    padding: 5%;
    max-width: 80%;
    max-height: 80%;
}
#home-intro {
    background-color: var(--border-shadow);
    border-radius: 10px;
    color: var(--white);
    font-size: 1.2rem;
    max-width: 80%;
    max-height: 80%;
    padding: 20px;
}
#home-intro h3 {
    font-family: var(--title-font);
    color: var(--yellow);

}
.home-link {
    padding: 20px;
}
.home-img {
    padding: 20px;
}
.home-img img {
    height: 100%;
    width: 100%;
    border: 2px solid var(--black);
}
.home-btn a {
    background-color: var(--black);
    color: var(--yellow);
    font-family: var(--title-font);
    font-size: 2rem;
    padding: 15px 20px;
    width: 100%;
    border-radius: 5px;
    transition: all 0.5s ease 0s;
}
.home-btn a:hover,
.home-btn a:focus {
    background-color: var(--yellow);
    color: var(--black);
}

/* --- Shop Pages --- */

.breadcrumb-item + .breadcrumb-item::before {
    content: ">";
}
ol.breadcrumb {
    padding: 10px 0;
    margin: 0;
    font-size: .8rem;
}
.category-links {
    padding: 10px;
}
.category-links a {
    font-family: var(--title-font);
    outline: 2px solid var(--black);
    font-size: 1.3rem;
    padding: 4px;
    margin: 0 10px;
    width: 100%;
    transition: all 0.5s ease 0s;
}
.category-links a:hover,
.category-links a:focus {
    background-color: var(--black);
    color: var(--white);
}
.category-dropdown {
    justify-content: flex-end;
    text-align: center;
}
.category-toggle {
    padding: 5px 20px;
    font-size: 1.2rem;
}
.category-toggle,
.category-toggle:hover,
.category-toggle:focus {
    background-color: var(--black);
    color: var(--white);
    font-size: .8rem;
}
.category-items .dropdown-item {
    font-family: var(--body-font);
    font-size: 1.1rem;
}
.products-sec {
    padding: 15px 0;
}
.product-card {
    max-width: 90%;
    margin: auto;
    border: 1px solid var(--black);

    -webkit-box-shadow: var(--dark-box) 0 0 3px;
    -moz-box-shadow: var(--dark-box) 0 0 3px;
    box-shadow: var(--dark-box) 0 0 3px;
}
.product-img img {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid var(--border-dark);
}
.product-name {
    font-family: var(--title-font);
    font-size: 1.3rem;
    margin: .5rem 0;
}
.product-info {
    border-top: 1px solid var(--black);
    text-align: center;
    padding: 5px 10px;
    font-size: 1rem;
    background-color: var(--black);
    color: var(--white);
}
.product-info:hover,
.product-info:focus {
    color: var(--yellow);
}

/* --- Search Page --- */
.search-bar input {
    border: 1px solid var(--black);
}
.search-btn button {
    background-color: var(--black);
    color: var(--yellow);
    border: 1px solid var(--black);
}

/* --- Individual Product Pages --- */
.detail-sec {
    padding: 15px 0;
}
.detail-text {
    margin: 0 auto;
    padding: 30px 20px 10px 20px;
    font-size: 1.1rem;
}
.detail-price {
    font-weight: bolder;
    text-align: right;
    font-size: 1.2rem;
}
.detail-btns {
    padding-top: 10px;
}
.detail-return,
.detail-add {
    max-width: 85%;
    text-align: center;
    margin: auto;
    padding: 5px;
    font-size: .9rem;
    border: 1px solid var(--black);
}
.detail-return a,
.detail-add input {
    width: 100%;
    padding: 0 10px;
    transition: all 0.5s ease 0s;
}
.detail-add,
.detail-add input {
    background-color: var(--black);
    color: var(--white);
}
.detail-return:hover,
.detail-return:focus {
    font-weight: bold;
}
.detail-add input:hover,
.detail-add input:focus {
    color: var(--yellow);
}

/* --- Shopping Bag Pages --- */
.bag-content {
    padding: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.bag-items {
    padding: 10px;
}
.bag-img {
    padding: 0;
}
.bag-row {
    line-height: 2;
    font-size: .8rem;
}
.bag-row .form-group {
    margin-bottom: 0;
}
.bag-info p {
    font-size: .7rem;
    margin-bottom: 0;
}
.bag-qty {
    padding: 5px;
}
.update-btn {
    font-size: .9rem;
    padding: 0 5px;
    transition: all 0.5s ease 0s;
}
.update-btn:hover,
.update-btn:focus {
    font-weight: bolder;
}
.qty-btns button,
.qty-btns input {
    border: 1px solid var(--black);
}
.qty-btns button {
    background-color: var(--black);
    color: var(--white);
}
.qty-btns button:hover,
.qty-btns button:focus {
    color: var(--yellow);
}
.bag-divider {
    margin: auto;
    width: 96%;
}
.bag-total {
    text-align: right;
    line-height: 1;
}
.bag-total h6 {
    text-transform: uppercase;
    font-family: var(--title-font);
    font-size: 1.3rem;
}
.bag-total p {
    font-size: .9rem;
}
.bag-total hr {
    margin-right: 0;
    width: 70%;
}
.bag-btns {
    padding: 15px 5px;
    text-align: center;
}
.bag-back-btn,
.bag-checkout-btn {
    font-family: var(--title-font);
    margin: 10px 2px;
    padding: 8px;
    width: 100%;
    border-radius: 10px;
    transition: all 0.5s ease 0s;
    border: 1px solid var(--black);
}
.bag-checkout-btn {
    background-color: var(--black);
    color: var(--white);
}
.bag-back-btn:hover,
.bag-back-btn:focus {
    font-weight: bold;
}
.bag-checkout-btn:hover,
.bag-checkout-btn:focus {
    color: var(--yellow);
}

/* --- Checkout Pages --- */

/* Checkout Header */
.progress-line {
    border: 1px solid var(--border-dark);
    width: 80%;
    margin: 2rem auto;
}
#progress-steps {
    margin-top: -3rem;
}
.progress-step {
    text-align: center;
    display: inline-block;
    width: 70px;
}
.step-label {
    font-size: .7rem;
}
.progress-circle {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 1px solid var(--black);
    background-color: var(--white);
    color: var(--black);
    margin: 0 auto;
}
.active-circle,
.complete-circle {
    background-color: var(--yellow);
}

/* Lineitems */

.order-content {
    padding: 20px;
}
.edit-btn {
    padding: 5px;
    text-align: center;
}
.edit-btn a {
    font-family: var(--title-font);
    padding: 8px;
    width: 60%;
    border-radius: 10px;
    transition: all 0.5s ease 0s;
    background-color: var(--white);
    border: 1px solid var(--black);
}
.edit-btn a:hover,
.edit-btn a:focus {
    font-weight: bold;
}

/* Order Summary */
.summary-mobile {
    padding: 20px 0;
}
.summary-btn {
    background-color: var(--yellow);
    border: 1px solid var(--black);
}
.collapse .summary-box {
    border: 1px solid var(--border-light);
}
.summary-box {
    padding: 15px;
}

/* --- Media Queries --- */

/* Breakpoint on Tablet device */
@media (min-width: 700px) and (max-width: 991px) {

    /* -- Special Styling -- */
    .page-title h3 {
        font-size: 2.5rem;
    }

    /* -- Home Page -- */
    .home-content {
        padding: 5%;
    }
    #home-hero {
        height: 93vh;
    }
    #home-logo {
        max-width: 60%;
        max-height: 60%;
    }
    #home-intro {
        font-size: 1.6rem;
        max-width: 90%;
    }
    #home-intro h3 {
        font-size: 1.8rem;
    }

    /* -- Shop Pages -- */
    .category-toggle,
    .category-toggle:hover,
    .category-toggle:focus {
        font-size: .9rem;
    }

    /* -- Individual Product Pages -- */
    .detail-text {
        font-size: 1rem;
    }
    .detail-price {
        text-align: left;
    }

    /* -- Shopping Bag Pages -- */
    .bag-items {
        height: 200px;
        margin-bottom: 20px;
    }
    .bag-img {
        max-width: 200px;
    }
    .bag-row {
        line-height: 1.6;
        font-size: 1.4rem;
    }
    .bag-info p {
        font-size: 1rem;
    }
    .bag-qty {
        width: 40%;
    }
    .bag-total h6,
    .bag-total h5 {
        font-size: 1.8rem;
    }
    .bag-total hr {
        width: 50%;
    }
    .bag-btns {
        text-align: right;
    }
    .bag-back-btn,
    .bag-checkout-btn {
        margin: 10px 0px 10px 5px;
        font-size: 1.7rem;
    }

    /* -- Checkout Pages -- */
    /* Checkout Header */
    .progress-step {
        width: 90px;
    }
    .step-label {
        font-size: .9rem;
    }

    /* Lineitems */
    .order-content {
        padding: 40px;
    }
    .order-items p {
        font-size: 1rem;
    }
}

/* Breakpoint on Larger Tablet device */
@media (min-width: 992px) and (max-width: 1024px) {
    /* -- Shopping Bag Pages -- */
    .bag-items {
        height: 200px;
        margin-bottom: 20px;
    }
    .bag-img {
        max-width: 200px;
    }
    .bag-row {
        line-height: 1.3;
        font-size: 1.4rem;
    }
    .bag-info p {
        font-size: 1rem;
    }
    .bag-qty {
        width: 40%;
    }
    .bag-total h6,
    .bag-total h5 {
        font-size: 1.8rem;
    }
    .bag-total hr {
        width: 50%;
    }
    .bag-btns {
        text-align: right;
    }
    .bag-back-btn,
    .bag-checkout-btn {
        margin: 10px 5px;
        font-size: 1.7rem;
    }
}

/* Breakpoint on a Laptop Screen */
@media (min-width: 1025px) {

    /* -- Special Styling -- */
    .page-margins {
        padding: 1%;
    }
    .page-title h3 {
        font-size: 2.5rem;
    }

    /* -- Navbar -- */
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: .5rem;
        padding-left: .5rem;
    }
    .nav-item:hover,
    .nav-item:focus,
    .nav-link i:hover,
    .nav-link i:focus {
        color: var(--red)
    }
    .bag-icon-lg i {
        font-size: 2.4rem;
    }
    .bag-icon-lg span {
        /* adapted from https://tinyurl.com/57sa5sj7 */
        font-family: var(--body-font);
        font-weight: bold;
        font-size: 1rem;
        position: absolute;
        top: 27px;
        right: 26px;
        width: 15px;
        height: 15px;
        color: var(--white);
        border-radius: 50%;
    }

    /* -- Toasts -- */

    .message-container {
        right: 15px;
    }
    .arrow-up {
        /* ref: https://css-tricks.com/snippets/css/css-triangle/  */
        width: 0;
        height: 0;
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-bottom: 10px solid var(--yellow);
        position: absolute;
        top: -10px;
        right: 30px;
    }

    /* -- Home Page -- */
    .home-content {
        padding: 5%;
        margin: 1% 0;
    }
    #home-hero {
        height: 93vh;
    }
    #home-logo {
        margin: 2% auto;
        padding: 10%;
        max-width: 70%;
        max-height: 70%;
    }
    #home-intro {
        padding: 40px;
        margin: auto;
        border-radius: 15px;
        font-size: 1.6rem;
        max-width: 50%;
        max-height: 60%;
    }
    #home-intro h3 {
        font-size: 3rem;
    }
    .home-link {
        padding: 0;
        max-width: 30%;
    }
    .home-img {
        padding: 2px;
    }
    .home-img img {
        height: 90%;
        width: 90%;
    }

    /* -- Shop Pages -- */
    .product-name {
        font-size: 1.3rem;
    }
    .product-info,
    .product-add {
        font-size: 1.1rem;
    }

    /* -- Individual Product Pages -- */
    .detail-price {
        text-align: left;
        font-size: 1.6rem;
    }
    .detail-return,
    .detail-add input {
        max-width: 80%;
    }

    /* -- Shopping Bag Pages -- */
    .bag-items {
        width: 50px;
        height: 200px;
        margin-bottom: 20px;
    }
    .bag-img {
        max-width: 200px;
    }
    .bag-row {
        line-height: 1.3;
        font-size: 1.4rem;
    }
    .bag-info p {
        font-size: 1rem;
    }
    .bag-qty {
        width: 40%;
    }
    .bag-total h6,
    .bag-total h5 {
        font-size: 1.8rem;
    }
    .bag-total hr {
        width: 50%;
    }
    .bag-btns {
        text-align: right;
    }
    .bag-back-btn,
    .bag-checkout-btn {
        margin: 10px 5px;
        font-size: 1.7rem;
    }
}
