.profile-style-input {
  box-sizing: border-box;
  height: 40px;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 0px;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.profile-style-input:focus,
.profile-style-input:active {
  box-shadow: 0 1px 3px 0 #cfd7df;
}
.profile-style-input::placeholder {
    color: #aab7c4;
}

.fieldset-label {
    position: relative;
    right: .5rem;
}

#profile-form .form-control {
    color: #0A0A0A;
    border: 1px solid #000;
}

#div_id_country select {
  padding: 0px 8px;
}

#id_default_country,
#id_default_country option:not(:first-child) {
    color: #0A0A0A;
}

#id_default_country option:first-child {
    color: #aab7c4;
}
.order-history h4{
  font-size: 1.5rem;
}