
{% extends "base.html" %}
{% load static %}
{% load bag_tools %}


{% block content %}
    <div class="container page-margins">

        <!-- Page Breadcrumbs -->
        <div class="row">
            <div class="col-12">
                <nav aria-label="page breadcrumbs">
                    <ol class="breadcrumb bg-white">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}" class="text-dark">Home</a></li>
                        <li class="breadcrumb-item active text-secondary" aria-current="page">View Shopping Bag</li>
                    </ol>
                </nav>
            </div>
        </div>

        <!-- Page Header -->
        <div class="row">
            <div class="col-12 page-title">
                <h3>Shopping Bag</h3>
                <hr class="section-divider">
            </div>
        </div>

        <!-- Page Content -->
        <div class="row bag-content">
            <!-- Bag Items -->
            {% if bag_items %}
                {% for bag_item in bag_items %}
                    <div class="col-12 bag-items">
                        <div class="row justify-content-center align-items-stretch">
                            <div class="col-5 bag-img">
                                {% if bag_item.product.image.url %}
                                    <a href="{% url 'product_detail' bag_item.product.id %}">
                                        <img src="{{ bag_item.product.image.url }}" alt="{{ bag_item.product.name }}">
                                    </a>
                                {% else %}
                                    <a href="{% url 'product_detail' bag_item.product.id %}">
                                        <img src="{% static 'img/no-image.png' %}" alt="{{ bag_item.product.name }}">
                                    </a>
                                {% endif %}
                            </div>
                            <div class="col-7">
                                <div class="container-fluid p-0">
                                    <div class="row bag-row">
                                        <!-- Product Name -->
                                        <div class="col-8">
                                            <a href="{% url 'product_detail' bag_item.product.id %}">
                                                {{ bag_item.product.name }}
                                            </a>
                                        </div>
                                        <!-- Remove Product -->
                                        <div class="col-4">
                                            <a class="remove-item float-right" id="remove_{{ bag_item.item_id }}" title="Remove Item" data-product_select="{{ bag_item.product_select }}">
                                                <i class="far fa-times-circle"></i>
                                            </a>
                                        </div>
                                    </div>
    
                                    <div class="row bag-row">
                                        <!-- Size/Class Info -->
                                        <div class="col-12 bag-info">
                                            <p>SKU: {{ bag_item.product_select }}</p>
                                        </div>
                                    </div>
    
                                    <div class="row bag-row">
                                        <!-- Update Box-->
                                        <div class="col-12">
                                            <form action="{% url 'update_bag' bag_item.item_id %}" class="form update-form" method="POST">
                                                {% csrf_token %}
                                                <div class="form-group">
                                                    <div class="input-group bag-qty qty-btns">
                                                        <div class="input-group-prepend">
                                                            <button class="decrement-qty btn btn-sm btn-black rounded-0" 
                                                                data-item_id="{{ bag_item.product_select }}" id="decrement-qty_{{ bag_item.product_select }}">
                                                                <span>
                                                                    <i class="fas fa-minus fa-sm"></i>
                                                                </span>
                                                            </button>
                                                        </div>
                                                        <input class="form-control form-control-sm qty_input" type="number"
                                                            name="quantity" value="{{ bag_item.quantity }}" min="1" max="99"
                                                            data-item_id="{{ bag_item.product_select }}"
                                                            id="id_qty_{{ bag_item.product_select }}">
                                                        <div class="input-group-append">
                                                            <button class="increment-qty btn btn-sm btn-black rounded-0"
                                                                data-item_id="{{ bag_item.product_select }}" id="increment-qty_{{ bag_item.product_select }}">
                                                                <span>
                                                                    <i class="fas fa-plus fa-sm"></i>
                                                                </span>
                                                            </button>
                                                        </div>
                                                        <input type="hidden" name="product_select" value="{{ bag_item.product_select }}">
                                                    </div>
                                                </div>
                                            </form>
                                            <a class="update-btn"><small>Update</small></a>
                                        </div>
                                    </div>

                                    <div class="row bag-row">
                                        <div class="col-12 text-right">
                                           ({{ bag_item.quantity }} x €{{ bag_item.product.price }})
                                        </div>
                                    </div>

                                    <div class="row bag-row">
                                        <!-- Price -->
                                        <div class="col-12 text-right font-weight-bolder">
                                            €{{ bag_item.product.price | calc_subtotal:bag_item.quantity }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <hr class="section-divider">
                {% endfor %}

                <!-- Totals -->
                <div class="col-12 bag-total py-2 px-1">
                    <h6>Subtotal: €{{ total|floatformat:2 }}</h6>
                    <h6>Delivery: €{{ delivery|floatformat:2 }}</h6>
                    <hr>
                    <h5>Grand Total: €{{ grand_total|floatformat:2 }}</h5>
                    {% if free_delivery_delta > 0 %}
                        <p>
                            Spend just €{{ free_delivery_delta }} more to get <strong>free delivery</strong>
                        </p>
                    {% endif %}
                </div>

                <!-- Checkout Btns -->
                <div class="col-12 bag-btns">

                    <a class="bag-back-btn" href="{% url 'all_products' %}">
                        <i class="fas fa-angle-left"></i> Keep Shopping
                    </a>
                    <a class="bag-checkout-btn" href="">
                        Secure Checkout <i class="fas fa-lock"></i>
                    </a>
                </div>

            {% else %}
                <!-- When Bag is empty -->
                <div class="col-12">
                    <div class="row">
                        <div class="col-12">
                            <p>Your bag is empty</p>
                            <a href="{% url 'all_products' %}">
                                <span>
                                    <i class="fas fa-chevron-left"></i>
                                    Keep Shopping
                                </span>
                            </a>
                        </div>
                        <!-- Copied from Home page for consistency -->
                        <div class="home-content" class="col-12">
                            <div class="row text-center d-flex justify-content-center">
                                <div class="col-12 col-md-6 col-lg-6 home-link d-flex justify-content-center">
                                    <div class="row">
                                        <div class="col-12 home-img">
                                            <img src="{% static 'img/home-apparel.png' %}" alt="Delphin Jacket">
                                        </div>
                                        <div class="col-12 home-btn">
                                            <a class="btn-shadow" href="{% url 'apparel' %}?category=tshirts,jacket_hoodies,accessories,swimwear,swim_accessories">Shop Apparel</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-6 home-link d-flex justify-content-center">
                                    <div class="row">
                                        <div class="col-12 home-img">
                                            <img src="{% static 'img/home-courses.png' %}" alt="Delphin Course Logo">
                                        </div>
                                        <div class="col-12 home-btn">
                                            <a class="btn-shadow" href="{% url 'courses' %}?category=swimming_jnr,swimming_snr,lifesaving,lifeguarding">Shop Courses</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'shop/includes/quantity_input_script.html' %}

<script type="text/javascript">
    // Update quantity on click
    $('.update-btn').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    });
    
    // Remove item from bag and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}"
        var itemId = $(this).attr('id').split('remove_')[1];
        var select = $(this).data('product_select');
        var url = `/shopping_bag/remove/${itemId}/`;
        var data = {
            'csrfmiddlewaretoken': csrfToken,
            'product_select': select
        };
        
        $.post(url, data)
            .done(function() {
                location.reload();
            });
    });
    
</script>

{% endblock %}