
{% extends "base.html" %}
{% load static %}


{% block content %}
    <div class="container page-margins">

        <!-- Page Breadcrumbs -->
        <div class="row">
            <div class="col-12">
                <nav aria-label="page breadcrumbs">
                    <ol class="breadcrumb bg-white">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}" class="text-dark">Home</a></li>
                        <li class="breadcrumb-item active text-secondary" aria-current="page">View Shopping Bag</li>
                    </ol>
                </nav>
            </div>
        </div>

        <!-- Page Header -->
        <div class="row">
            <div class="col-12 page-title">
                <h3>Shopping Bag</h3>
                <hr class="section-divider">
            </div>
        </div>

        <!-- Page Content -->
        <div class="row bag-content">
            <div class="col-12">
                {% if bag_items %}
                    <p>this is your bag</p>
                {% else %}
                    <div class="row">
                        <div class="col-12">
                            <p>Your bag is empty</p>
                            <a href="{% url 'all_products' %}">
                                <span>
                                    <i class="fas fa-chevron-left"></i>
                                    Keep Shopping
                                </span>
                            </a>
                        </div>
                        <!-- Copied from Home page for consistency -->
                        <div class="home-content" class="col-12">
                            <div class="row text-center d-flex justify-content-center">
                                <div class="col-12 col-md-6 col-lg-6 home-link d-flex justify-content-center">
                                    <div class="row">
                                        <div class="col-12 home-img">
                                            <img src="{% static 'img/home-apparel.png' %}" alt="Delphin Jacket">
                                        </div>
                                        <div class="col-12 home-btn">
                                            <a class="btn-shadow" href="{% url 'all_apparel' %}">Shop Apparel</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-12 col-md-6 col-lg-6 home-link d-flex justify-content-center">
                                    <div class="row">
                                        <div class="col-12 home-img">
                                            <img src="{% static 'img/home-courses.png' %}" alt="Delphin Course Logo">
                                        </div>
                                        <div class="col-12 home-btn">
                                            <a class="btn-shadow" href="{% url 'all_courses' %}">Shop Courses</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
