
{% extends "base.html" %}
{% load static %}

{% block extra_title %}404{% endblock %}

{% block content %}
    <div class="container page-margins">
        <div class="row error-box extra-p-btm">
            <div class="col-12">
                <a class="error-img" href="{% url 'home' %}">
                    <img src="{% static 'img/400.png' %}" alt="Home Link">
                </a>
                <p>Your browser sent a request that the server couldn't understand. Please contact us for assistance.</p>
            </div>
            <div class="col-12 error-link">
                <a href="{% url 'home' %}">Return to Home</a>
            </div>
        </div>
    </div>
{% endblock %}