
{% extends "base.html" %}
{% load static %}

{% block extra_title %}403{% endblock %}

{% block content %}
    <div class="container page-margins">
        <div class="row error-box extra-p-btm">
            <div class="col-12">
                <a class="error-img" href="{% url 'home' %}">
                    <img src="{% static 'img/403.png' %}" alt="Home Link">
                </a>
                <p>Sorry, you don't have permission to access this page.</p>
            </div>
            <div class="col-12 error-link">
                <a href="{% url 'home' %}">Return Home</a>
            </div>
        </div>
    </div>
{% endblock %}