
{% extends "base.html" %}
{% load static %}

{% block extra_title %}404{% endblock %}

{% block content %}
    <div class="container page-margins">
        <div class="row error-box extra-p-btm">
            <div class="col-12">
                <a class="error-img" href="{% url 'home' %}">
                    <img src="{% static 'img/404.png' %}" alt="Home Link">
                </a>
                <p>Ooop! It seems that page does not exist...</p>
            </div>
            <div class="col-12 error-link">
                <a href="{% url 'home' %}">Return to Safety</a>
            </div>
        </div>
    </div>
{% endblock %}