{% load static %}

<footer>
    <div class="container d-flex justify-content-around">
        <div class="row w-100 p-4">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="row">
                    <div class="col-12 footer-title">
                        Shop Apparel
                    </div>
                    <div class="col-12 footer-text">
                        <a href="">T-Shirts</a>
                    </div>
                    <div class="col-12 footer-text">
                        <a href="">Jackets & Hoodies</a>
                    </div>
                    <div class="col-12 footer-text">
                        <a href="">Accessories</a> 
                    </div>
                    <div class="col-12 footer-text">
                        <a href="">Swimwear</a>
                    </div>
                    <div class="col-12 footer-text">
                        <a href="">Swim Accessories</a>
                    </div>
                    <div class="col-12 footer-text">
                        <a href="">View All</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="row">
                    <div class="col-12 footer-title">
                        Shop Courses
                    </div>
                    <div class="col-12 footer-text">
                        <a href="">0 - 3 years</a>
                    </div>
                    <div class="col-12 footer-text">
                        <a href="">Swimming Levels 1 - 8</a>
                    </div>
                    <div class="col-12 footer-text">
                        <a href="">Junior Lifesaving</a>
                    </div>
                    <div class="col-12 footer-text">
                        <a href="">Lifeguards</a>
                    </div>
                    <div class="col-12 footer-text">
                        <a href="">View All</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="row">
                    <div class="col-12 footer-title">
                        Popular Links
                    </div>
                    <div class="col-12 footer-text">
                        <a href="">Search</a>
                    </div>
                    <div class="col-12 footer-text">
                        <a href="">Contact</a>
                    </div>
                    <div class="col-12 footer-text">
                        <a href="">Club Mission</a>
                    </div>
                    <div class="col-12 footer-text">
                        <a href="">Club Newsletter</a>
                    </div>
                    <div class="col-12 footer-text">
                        <a href="">FAQs</a>
                    </div>
                    <div class="col-12 footer-icons ">
                        <div class="row w-50">
                            <div class="col-4">
                                <a href="mailto:delphin.lifesavingclub@gmail.com?subject=Delphin Enquiry">
                                    <i class="fas fa-at"></i>
                                </a>
                            </div>
                            <div class="col-4">
                                <a href="https://wa.me/353894832297?text=I'm%20enquiring%20about%20Delphin" target="_blank" rel="noopener" aria-label="Delphin Whatsapp Contact Number">
                                    <i class="fab fa-whatsapp"></i>
                                </a>
                            </div>
                            <div class="col-4">
                                <a href="https://www.facebook.com/delphin.lifesavingclub" target="_blank" rel="noopener" aria-label="Delphin Facebook Page">
                                    <i class="fab fa-facebook"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="footer-end" class="col-12 text-center">
                <i class="far fa-copyright"></i> Delphin Lifesaving Club <span id="footer-date"></span>
            </div>
        </div>
    </div>
</footer>