{% load static %}

<footer>
    <div class="container d-flex justify-content-around">
        <div class="row w-100 p-4">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="row">
                    <div class="col-12 footer-title">
                        Shop Apparel
                    </div>
                    <div class="col-12 footer-text">
                        T-Shirts
                    </div>
                    <div class="col-12 footer-text">
                        Jackets & Hoodies
                    </div>
                    <div class="col-12 footer-text">
                        Accessories
                    </div>
                    <div class="col-12 footer-text">
                        Swimwear
                    </div>
                    <div class="col-12 footer-text">
                        Swim Accessories
                    </div>
                    <div class="col-12 footer-text">
                        View All
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="row">
                    <div class="col-12 footer-title">
                        Shop Courses
                    </div>
                    <div class="col-12 footer-text">
                        0 - 3 years
                    </div>
                    <div class="col-12 footer-text">
                        Swimming Levels 1 - 8
                    </div>
                    <div class="col-12 footer-text">
                        Junior Lifesaving
                    </div>
                    <div class="col-12 footer-text">
                        Lifeguards
                    </div>
                    <div class="col-12 footer-text">
                        View All
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="row">
                    <div class="col-12 footer-title">
                        Popular Links
                    </div>
                    <div class="col-12 footer-text">
                        Search
                    </div>
                    <div class="col-12 footer-text">
                        Contact
                    </div>
                    <div class="col-12 footer-text">
                        Club Mission
                    </div>
                    <div class="col-12 footer-text">
                        Club Newsletter
                    </div>
                    <div class="col-12 footer-text">
                        FAQs
                    </div>
                    <div class="col-12 footer-icons ">
                        <div class="row w-50">
                            <div class="col-4">
                                <a href="mailto:delphin.lifesavingclub@gmail.com?subject=Delphin Enquiry">
                                    <i class="fas fa-at"></i>
                                </a>
                            </div>
                            <div class="col-4">
                                <a href="https://wa.me/353894832297?text=I'm%20enquiring%20about%20Delphin" target="_blank" rel="noopener" aria-label="Delphin Whatsapp Contact Number">
                                    <i class="fab fa-whatsapp"></i>
                                </a>
                            </div>
                            <div class="col-4">
                                <a href="https://www.facebook.com/delphin.lifesavingclub" target="_blank" rel="noopener" aria-label="Delphin Facebook Page">
                                    <i class="fab fa-facebook"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="footer-end" class="col-12 text-center">
                <i class="far fa-copyright"></i> Delphin Lifesaving Club <span id="footer-date"></span>
            </div>
        </div>
    </div>
</footer>