{% load static %}

<footer>
    <div class="container d-flex justify-content-around">
        <div class="row w-100 p-4">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="row">
                    <div class="col-12 footer-title">
                        Shop Apparel
                    </div>
                    <div class="col-12 footer-text">
                        <a href="{% url 'apparel' %}?category=tshirts">T-Shirts</a>
                    </div>
                    <div class="col-12 footer-text">
                        <a href="{% url 'apparel' %}?category=jacket_hoodies">Jackets & Hoodies</a>
                    </div>
                    <div class="col-12 footer-text">
                        <a href="{% url 'apparel' %}?category=accessories">Accessories</a> 
                    </div>
                    <div class="col-12 footer-text">
                        <a href="{% url 'apparel' %}?category=swimwear">Swimwear</a>
                    </div>
                    <div class="col-12 footer-text">
                        <a href="{% url 'apparel' %}?category=swim_accessories">Swim Accessories</a>
                    </div>
                    <div class="col-12 footer-text">
                        <a href="{% url 'apparel' %}?category=tshirts,jacket_hoodies,accessories,swimwear,swim_accessories">View All</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="row">
                    <div class="col-12 footer-title">
                        Shop Courses
                    </div>
                    <div class="col-12 footer-text">
                        <a href="{% url 'courses' %}?category=swimming_jnr">0 - 4 years</a>
                    </div>
                    <div class="col-12 footer-text">
                        <a href="{% url 'courses' %}?category=swimming_snr">5 - 12 years</a>
                    </div>
                    <div class="col-12 footer-text">
                        <a href="{% url 'courses' %}?category=lifesaving">13 - 16 years</a>
                    </div>
                    <div class="col-12 footer-text">
                        <a href="{% url 'courses' %}?category=lifeguarding">16+ years</a>
                    </div>
                    <div class="col-12 footer-text">
                        <a href="{% url 'courses' %}?category=swimming_jnr,swimming_snr,lifesaving,lifeguarding">View All</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="row">
                    <div class="col-12 footer-title">
                        Popular Links
                    </div>
                    <div class="col-12 footer-text">
                        <a href="{% url 'search' %}">Search</a>
                    </div>
                    <div class="col-12 footer-text">
                        <a href="{% url 'view_contact' %}">Contact</a>
                    </div>
                    <div class="col-12 footer-text">
                        <a href="{% url 'view_programme' %}">Academy Programme</a>
                    </div>
                    <div class="col-12 footer-text">
                        <a href="">FAQs</a>
                    </div>
                    <div class="col-12 footer-icons ">
                        <div class="row w-50">
                            <div class="col-4">
                                <a href="mailto:delphin.lifesavingclub@gmail.com?subject=Delphin Enquiry">
                                    <i class="fas fa-at"></i>
                                </a>
                            </div>
                            <div class="col-4">
                                <a href="https://wa.me/353894832297?text=I'm%20enquiring%20about%20Delphin" target="_blank" rel="noopener" aria-label="Delphin Whatsapp Contact Number">
                                    <i class="fab fa-whatsapp"></i>
                                </a>
                            </div>
                            <div class="col-4">
                                <a href="https://www.facebook.com/delphin.lifesavingclub" target="_blank" rel="noopener" aria-label="Delphin Facebook Page">
                                    <i class="fab fa-facebook"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="footer-end" class="col-12 text-center">
                <i class="far fa-copyright"></i> Delphin Lifesaving Club <span id="footer-date"></span>
            </div>
        </div>
    </div>
</footer>

<script type="text/javascript">
    $(function() {
        // Get Current Year for Footer
        document.getElementById("footer-date").innerHTML = new Date().getFullYear();
    });
</script>