{% load static %}

<!-- Checkout Logo -->
<div class="container">
    <div class="row">
        <div class="col-12 text-center checkout-logo {% if active_page == 'order_complete' %}d-none{% endif %}">
            <a href="{% url 'shopping_bag' %}" title="Return to Shopping Bag">
                <img src="{% static 'img/checkout_logo.png' %}" alt="Delphin Logo" class="checkout-img">
            </a>
        </div>
    </div>
</div>

<!-- Checkout Progress Bar -->
<div class="container progress-container">
    <!-- Inspired by https://github.com/AJGreaves/thehouseofmouse -->
    <div class="row justify-content-center">
        <div class="col-10 col-md-8 col-lg-6">
            <hr class="progress-line">
            <div  id="progress-steps" class="d-flex justify-content-between">
                <div class="progress-step">
                    <div class="progress-circle {% if active_page == 'order_review' %}active-circle{% endif %}">
                        {% if active_page == 'order_review' %}
                            <a href="{% url 'order_review' %}">
                                1
                            </a>
                            {% else %}
                                <i class="fas fa-check"></i>
                            {% endif %}
                    </div>
                    <p class="step-label">Review</p>
                </div>
                <div class="progress-step">
                    <div class="progress-circle {% if active_page == 'order_details' %}active-circle{% endif %}">
                        {% if active_page == 'order_review' or active_page == 'order_details' %}
                            2
                        {% else %}
                            <i class="fas fa-check"></i>
                        {% endif %}
                    </div>
                    <p class="step-label">Details</p>
                </div>
                <div class="progress-step">
                    <div class="progress-circle {% if active_page == 'order_complete' %}active-circle{% endif %}">
                        {% if active_page != 'order_complete' %}
                            3
                        {% else %}
                            <i class="fas fa-check"></i>
                        {% endif %}
                    </div>
                    <p class="step-label">Complete</p>
                </div>
            </div>
        </div>
    </div>
</div>