{% load static %}
{% load bag_tools %}

{% for bag_item in bag_items %}
    <div class="row order-content">
        <div class="col-3 d-flex align-items-center p-0">
            <a href="{% url 'product_detail' bag_item.product.id %}">
                {% if bag_item.product.image %}
                    <img src="{{ bag_item.product.image.url }}" alt="{{ product.name }}" class="w-100">
                {% else %}
                    <img src="{% static 'img/no-image.png' %}" alt="{{ product.name }}" class="w-100">
                {% endif %}
            </a>
        </div>
        <div class="col-6 order-items">
            <p class="my-0"><strong>{{ bag_item.product.name }}</strong></p>
            <p class="my-0 small">SKU: {{ bag_item.product_select }}</p>
            <p class="my-0 small text-muted">Qty: {{ bag_item.quantity }}</p>
        </div>
        <div class="col-3 order-items text-muted text-right d-flex align-items-end justify-content-end">
            <p class="my-0">€{{ bag_item.product.price | calc_subtotal:bag_item.quantity }}</p>
        </div>
    </div>
    <hr class="m-0">
{% endfor %}

<!-- Totals -->
<div class="col-12 bag-total py-2 px-1">
    <h6>Subtotal: €{{ total|floatformat:2 }}</h6>
    <h6>Delivery: €{{ delivery|floatformat:2 }}</h6>
    <hr>
    <h6>Grand Total: €{{ grand_total|floatformat:2 }}</h6>
    {% if free_delivery_delta > 0 %}
        <p>
            Spend just €{{ free_delivery_delta }} more to get <strong class="text-uppercase">free delivery</strong>
        </p>
    {% endif %}
</div>

<!-- Checkout Btns -->
{% if active_page == 'order_review' %}
    <div class="col-12 bag-btns">
        <a class="bag-back-btn" href="{% url 'shopping_bag' %}">
            <i class="fas fa-angle-left"></i> Return to Bag
        </a>
        <a class="bag-checkout-btn" href="{% url 'order_details' %}">
            Secure Checkout <i class="fas fa-lock"></i>
        </a>
    </div>
{% else %}
    <div class="col-12 edit-btn d-flex align-items-end justify-content-end">
        <a href="{% url 'shopping_bag' %}">
            <i class="fas fa-angle-left"></i> Edit Bag
        </a>
    </div>
{% endif %}