{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}


{% block inner_content %}
    <div class="row account-text">
        {% if confirmation %}
            <div class="col-12">
                {% user_display confirmation.email_address.user as user_display %}
            </div>
            <div class="col-12">
                <p>{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktrans %}</p>
            </div>
            <div class="col-12">
                <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
                    <div class="row">
                        <div class="col-12">
                            {% csrf_token %}
                        </div>
                        <div class="col-12 col-md-3 account-btn">
                            <button type="submit">{% trans 'Confirm' %}</button>
                        </div>
                    </div>
                </form>
            </div>
        {% else %}
            <div class="col-12">
                {% url 'account_email' as email_url %}
            </div>
            <div class="col-12">
                <p>{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>
            </div>
        {% endif %}
    </div>

{% endblock %}
