{% extends "account/base.html" %}
{% load static %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner_content %}
<div class="row extra-p-btm">
    <div class="col-12 py-2 px-3 account-text">
        <p>{% trans 'Your password has now been changed.' %}</p>
    </div>
    <!-- Copied from Home page for consistency -->
    <div class="home-content col-12">
        <div class="row text-center d-flex justify-content-center">
            <div class="col-12 col-md-6 col-lg-3 home-link d-flex justify-content-center">
                <div class="row">
                    <div class="col-12 home-img">
                        <a href="{% url 'apparel' %}?category=tshirts,jacket_hoodies">
                            <img src="{% static 'img/home-apparel.png' %}" alt="Delphin Jacket">
                        </a>
                    </div>
                    <div class="col-12 home-btn">
                        <a class="btn-shadow" href="{% url 'apparel' %}?category=tshirts,jacket_hoodies">Shop Apparel</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 home-link d-flex justify-content-center">
                <div class="row">
                    <div class="col-12 home-img">
                        <a href="{% url 'apparel' %}?category=swimwear">
                            <img src="{% static 'img/home-swim.png' %}" alt="Delphin Swimwear">
                        </a>
                    </div>
                    <div class="col-12 home-btn">
                        <a class="btn-shadow" href="{% url 'apparel' %}?category=swimwear">Shop Swimwear</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 home-link d-flex justify-content-center">
                <div class="row">
                    <div class="col-12 home-img">
                        <a href="{% url 'apparel' %}?category=accessories,swim_accessories">
                            <img src="{% static 'img/home-acc.png' %}" alt="Delphin Accessories">
                        </a>
                    </div>
                    <div class="col-12 home-btn">
                        <a class="btn-shadow" href="{% url 'apparel' %}?category=accessories,swim_accessories">Shop Accessories</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-3 home-link d-flex justify-content-center">
                <div class="row">
                    <div class="col-12 home-img">
                        <a href="{% url 'courses' %}?category=swimming_jnr,swimming_snr,lifesaving,lifeguarding">
                            <img src="{% static 'img/home-courses.png' %}" alt="Delphin Course Logo">
                        </a>
                    </div>
                    <div class="col-12 home-btn">
                        <a class="btn-shadow" href="{% url 'courses' %}?category=swimming_jnr,swimming_snr,lifesaving,lifeguarding">Shop Courses</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
