{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block inner_content %}
<div class="row extra-p-btm">
    <div class="col-12 py-2 px-3 account-text">
        {% if user.is_authenticated %}
        {   % include "account/snippets/already_logged_in.html" %}
        {% endif %}
        <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>

        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
            <div class="row">
                <div class="col-12 account-form">
                    {% csrf_token %}
                    {{ form|crispy }}
                </div>
            </div>
            <div class="row">
                <div class="col-12 profile-btn-left">
                    <input class="w-100 profile-btns" type="submit" value="{% trans 'Reset My Password' %}" />
                </div>
            </div>
        </form>
    </div>
    <div class="col-12 py-2 px-3 account-text">
        <p class="py-3">{% blocktrans %}Please contact us if you have any trouble resetting your password via our {% endblocktrans %} <strong><a class="pages-link" href="{% url 'view_contact' %}">contact</a></strong> page.</p>
    </div>
</div>
{% endblock %}
