{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner_content %}
<div class="row account-text">
    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        <div class="col-12">
            {% csrf_token %}
            {{ form|crispy }}
        </div>
        <div class="col-12 col-md-3 account-btn offset-9">
            <button type="submit" name="action">{% trans "Change Password" %}</button>
        </div>
    </form>
</div>
{% endblock %}
