{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block inner_content %}
<div class="row extra-p-btm">
    <div class="col-12 py-2 px-3 account-text">
        <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
            <div class="row">
                <div class="col-12 account-form">
                    {% csrf_token %}
                    {{ form|crispy }}
                </div>
            </div>
            <div class="row">
                <div class="col-12 profile-btn-left">
                    <input class="w-100 profile-btns" type="submit" name="action" value="{% trans 'Set Password' %}"/>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
