{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block extra_title %}{{ profile.user }}{% endblock %}

{% block content %}
    <div class="container page-margins">

        <!-- Page Header -->
        <div class="row">
            <div class="col-12 page-title">
                <h3>My Profile</h3>
                <hr class="section-divider">
            </div>
        </div>

        <!-- Page Content -->
        <div class="row page-content">
            <div class="col-12 col-md-8 px-md-5 order-md-2">
                <p class="text-muted pl-1">Default Information</p>
                <!-- Update Form -->
                <form action="{% url 'profile' %}" method="POST" id="profile-form">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button id="submit-button" class="profile-btns btn-shadow text-center float-right">
                        <span class="font-weight-bold">
                            Update Information
                        </span>
                        <span class="icon">
                            <i class="fas fa-check"></i>
                        </span>
                    </button>
                </form>
            </div>
            <hr class="account-hr d-md-none">

            <!-- Include profile buttons -->
            <div class="col-12 col-md-4 lg-border order-md-1">
                {% include 'users/includes/profile_btns.html' %}
            </div>
        </div>
        
    </div>
        
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/profile.js' %}"></script>
{% endblock %}