{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- meta data -->
        {% block meta %}
            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <meta name="description" content="Delphin Lifesaving Club webshop"/>
            <meta name="title" content="Delphin Lifesaving Club">
        {% endblock %}

        {% block extra_meta %}
        {% endblock %}

        <!-- favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="{% static 'favicon/apple-touch-icon.png' %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon-32x32.png' %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static 'favicon/favicon-16x16.png' %}">

         <!-- Stylesheets -->
        {% block corecss %}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
            <link rel="stylesheet" href="{% static 'css/base.css' %}">
        {% endblock %}

        {% block extra_css %}
        {% endblock %}

        
        <!-- Scripts -->
        {% block corejs %}
            <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>
            
            <!-- Stripe -->
            <script src="https://js.stripe.com/v3/"></script>
        {% endblock %}
        
        {% block extra_js %}
        {% endblock %}
        
        <!-- Page title -->
        <title>Delphin Lifesaving Club {% block extra_title %}{% endblock %}</title>

    </head>
    <body>
        {% if navbar != False %}
            {% include 'includes/navbar.html' %}
        {% endif %}

        {% if messages %}
            <div class="message-container">
                {% for message in messages %}
                    {% with message.level as level %}
                        {% if level == 40 %}
                            {% include 'includes/toasts/toast_error.html' %}
                        {% elif level == 30 %}
                            {% include 'includes/toasts/toast_warning.html' %}
                        {% elif level == 25 %}
                            {% include 'includes/toasts/toast_success.html' %}
                        {% else %}
                            {% include 'includes/toasts/toast_info.html' %}
                        {% endif %}
                    {% endwith %}
                {% endfor %}
            </div>
        {% endif %}
        
        {% block content %}
        {% endblock %}
        
        {% if footer != False %}
            {% include 'includes/footer.html' %}
        {% endif %}

        {% block postloadjs %}
            <script type="module" src="{% static 'js/base.js' %}"></script>
            <script type="text/javascript">
                $('.toast').toast('show');
            </script>
        {% endblock %}

    </body>
</html>