
{% extends "base.html" %}
{% load static %}


{% block content %}
    <div class="container page-margins">

        <!-- Page Breadcrumbs -->
        <div class="row">
            <div class="col-12">
                <nav aria-label="page breadcrumbs">
                    <ol class="breadcrumb bg-white">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}" class="text-dark">Home</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'all_products' %}" class="text-dark">All Products</a></li>
                        <li class="breadcrumb-item active text-secondary" aria-current="page">All Apparel</li>
                    </ol>
                </nav>
            </div>
        </div>

        <!-- Page Header -->
        <div class="row">
            <div class="col-12 page-title">
                <!-- Conditional Page Titles
                    ref: https://tinyurl.com/jfktjads-->
                {% if request.get_full_path == '/shop/apparel?category=tshirts' %}
                    <h3>All T-Shirts</h3>
                {% elif request.get_full_path == '/shop/apparel?category=jacket_hoodies' %}
                    <h3>All Jackets & Hoodies</h3>
                {% elif request.get_full_path == '/shop/apparel?category=accessories' or request.get_full_path == '/shop/apparel?category=accessories,swim_accessories' %}
                    <h3>All Accessories</h3>
                {% elif request.get_full_path == '/shop/apparel?category=swimwear' %}
                    <h3>All Swimwear</h3>
                {% elif request.get_full_path == '/shop/apparel?category=swim_accessories' %}
                    <h3>All Swim Accessories</h3>
                {% else %}
                    <h3>All Apparel</h3>
                {% endif %}
                <hr class="section-divider">
            </div>
            <div class="col-12 d-flex d-lg-none category-dropdown">
                <div class="dropdown show">
                    <button class="btn category-toggle dropdown-toggle" type="button" id="categoryDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Refine By Category
                    </button>
                    <div class="dropdown-menu dropdown-menu-right category-items" aria-labelledby="categoryDropdown">
                        <a class="dropdown-item" href="{% url 'apparel' %}?category=tshirts">T-shirts</a>
                        <a class="dropdown-item" href="{% url 'apparel' %}?category=jacket_hoodies">Jackets & Hoodies</a>
                        <a class="dropdown-item" href="{% url 'apparel' %}?category=accessories">Accessories</a>
                        <a class="dropdown-item" href="{% url 'apparel' %}?category=swimwear">Swimwear</a>
                        <a class="dropdown-item" href="{% url 'apparel' %}?category=swim_accessories">Swim Accessories</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item font-weight-bolder" href="{% url 'apparel' %}?category=tshirts,jacket_hoodies,accessories,swimwear,swim_accessories">View All</a>
                    </div>
                </div>
            </div>
            <div class="col-12 d-none d-lg-block category-links text-center">
                <a href="{% url 'apparel' %}?category=tshirts" >T-shirts</a>
                <a href="{% url 'apparel' %}?category=jacket_hoodies">Jackets & Hoodies</a>
                <a href="{% url 'apparel' %}?category=accessories">Accessories</a>
                <a href="{% url 'apparel' %}?category=swimwear">Swimwear</a>
                <a href="{% url 'apparel' %}?category=swim_accessories">Swim Accessories</a>
                <a href="{% url 'apparel' %}?category=tshirts,jacket_hoodies,accessories,swimwear,swim_accessories">View All</a>
            </div>
        </div>

        <!-- Page Content -->
        <div class="row products-sec">
            {% for product in products %}
                <div class="col-12 col-md-6 col-lg-4 col-xl-3 p-3 px-md-1">
                    <div class="row product-card">
                        <div class="col-12 p-0">
                            {% if product.image.url %}
                                <a class="product-img" href="{% url 'product_detail' product.id %}">
                                    <img src="{{ product.image.url }}" alt="{{ product.name }}">
                                </a>
                            {% else %}
                                <a class="product-img" href="{% url 'product_detail' product.id %}">
                                    <img src="{% static 'img/no-image.png' %}" alt="{{ product.name }}">
                                </a>
                            {% endif %}
                        </div>
                        <div class="col-12">
                            <a href="{% url 'product_detail' product.id %}">
                                <h3 class="product-name">{{ product.name }}</h3>
                            </a>
                        </div>
                        <div class="col-12 text-right font-weight-bolder">
                            <p>€{{ product.price }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
