
{% extends "base.html" %}
{% load static %}


{% block content %}
    <div class="container page-margins">

        <!-- Page Breadcrumbs -->
        <div class="row">
            <div class="col-12">
                <nav aria-label="page breadcrumbs">
                    <ol class="breadcrumb bg-white">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}" class="text-dark">Home</a></li>
                        <li class="breadcrumb-item"><a href="{% url 'all_courses' %}" class="text-dark">All Courses</a></li>
                        <li class="breadcrumb-item active text-secondary" aria-current="page">{{ course.name }}</li>
                    </ol>
                </nav>
            </div>
        </div>

        <!-- Page Header -->
        <div class="row">
            <div class="col-12 page-title">
                <h3>{{ course.name }}</h3>
                <hr class="section-divider">
            </div>
            
        </div>

        <!-- Page Content -->
        <div class="row detail-sec">
            <div class="col-12 col-md-6 col-lg-6 detail-img">
                {% if course.image.url %}
                    <img src="{{ course.image.url }}" alt="{{ course.name }}">
                {% else %}
                    <img src="{% static 'img/no-image.png' %}" alt="{{ course.name }}">
                {% endif %}
            </div>
            <div class="col-12 col-md-6 col-lg-6 detail-text">
                <div class="row">
                    <div class="col-6 text-left">
                        {% if course.name == 'Lifeguards' %}
                            <p>12 weeks</p>
                        {% else %}
                            <p>10 weeks</p>
                        {% endif %}
                    </div>
                    <div class="col-6 text-right detail-price">
                        <p>€{{ course.price }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p>{{ course.description }}</p>
                    </div>
                </div>
                <form action="{% url 'add_to_bag' course.id %}" class="form" method="POST">
                    {% csrf_token %}
                    <div class="form-row px-3">
                        <div class="col-6 no-gutters">
                            Choose a class....
                        </div>
                        <div class="col-6 d-flex flex-wrap justify-content-end">
                            <p class="mt-3"><strong>Quantity:</strong></p>
                            <div class="form-group w-50">
                                <div class="input-group">
                                    <input type="number" name="quantity" value="1" min="1" max="99" data-item_id="{{ apparel.id }}" id="id_qty_{{ apparel.id }}" class="form-control qty_input">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row detail-btns">
                        <!-- Returns user to previous page -->
                        <div class="col-6 no-gutters">
                            <div class="detail-return btn-shadow">
                                <a id="back_btn" href="#">
                                    <i class="fas fa-angle-left"></i> Go Back
                                </a>
                            </div>
                        </div>
                        <!-- Adds item to shopping bag -->
                        <div class="col-6 no-gutters">
                            <div class="detail-add btn-shadow">
                                <input type="submit" value="Add to bag">
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
