
{% extends "base.html" %}
{% load static %}


{% block content %}
    <div class="container page-margins">

        <!-- Page Breadcrumbs -->
        <div class="row">
            <div class="col-12">
                <nav aria-label="page breadcrumbs">
                    <ol class="breadcrumb bg-white">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}" class="text-dark">Home</a></li>
                        {% if product.is_course %}
                            <li class="breadcrumb-item"><a href="{% url 'courses' %}?category=swimming_jnr,swimming_snr,lifesaving,lifeguarding" class="text-dark">All Courses</a></li>
                        {% else %}
                            <li class="breadcrumb-item"><a href="{% url 'apparel' %}?category=tshirts,jacket_hoodies,accessories,swimwear,swim_accessories" class="text-dark">All Apparel</a></li>
                        {% endif %}
                        <li class="breadcrumb-item active text-secondary" aria-current="page">{{ product.name }}</li>
                    </ol>
                </nav>
            </div>
        </div>

        <!-- Page Header -->
        <div class="row">
            <div class="col-12 page-title">
                <h3>{{ product.name }}</h3>
                <hr class="section-divider">
            </div>
            
        </div>

        <!-- Page Content -->
        <div class="row detail-sec">
            <div class="col-12 col-md-6 col-lg-6 detail-img">
                {% if product.image.url %}
                    <img src="{{ product.image.url }}" alt="{{ product.name }}" class="w-100 h-100">
                {% else %}
                    <img src="{% static 'img/no-image.png' %}" alt="{{ product.name }}" class="w-100 h-100">
                {% endif %}
            </div>
            <div class="col-12 col-md-6 col-lg-6 detail-text p-sm-4 p-md-1">
                <div class="row">
                    <div class="col-6 text-left">
                        {% if product.is_course %}
                            {% if product.name == 'Lifeguards' %}
                                <p class="m-0">12 weeks</p>
                            {% else %}
                                <p class="m-0">10 weeks</p>
                            {% endif %}
                        {% endif %}
                    </div>
                    <div class="col-6 text-right detail-price">
                        <p class="m-0">€{{ product.price }}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <p>{{ product.description }}</p>
                        {% if product.is_course %}
                            <a href="#" class="text-muted pages-link" title="Course Information" data-toggle="modal" data-target="#courseModal">Course Information</a>
                        {% endif %}
                    </div>
                </div>
                <form action="{% url 'add_to_bag' product.id %}" class="form" method="POST">
                    {% csrf_token %}
                    <div class="form-row d-flex flex-wrap justify-content-center">
                        <div class="col-12 py-sm-1">
                            {% if product.is_course %}
                                <p class="m-0"><strong>Class:</strong></p>
                            {% else %}
                                <p class="m-0"><strong>Size:</strong></p>
                            {% endif %}
                        </div>
                        <div class="col-12 py-sm-1">
                            <select class="form-control custom-select w-50" name="product_select" id="product_select">
                                {% for options in product.product_options.all %}
                                    <option id="id_select" value="{{ options.product_select }}" data-stock="{{ options.stock_count }}">{{ options.product_select.option_name }} {% if product.is_apparel %}({% if options.stock_count > 0 %}{{ options.stock_count }}{% else %}None{% endif %} in stock){% else %}({% if options.stock_count > 0 %}{{ options.stock_count }}{% else %}No{% endif %}{% if options.stock_count == 1%} Place{% else %} Places{% endif %} Available){% endif %}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-12 py-1">
                            <p class="m-0"><strong>Quantity:</strong></p>
                            <div class="form-group w-50">
                                <div class="input-group qty-btns">
                                    <div class="input-group-prepend">
                                        <button class="decrement-qty btn btn-sm btn-black rounded-0"
                                                data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                            <span>
                                                <i class="fas fa-minus fa-sm"></i>
                                            </span>
                                        </button>
                                    </div>
                                        <input id="id_qty_{{ product.id }}" class="form-control form-control-sm qty_input"
                                            type="number" name="quantity" value="1" min="1" max="{% if product.is_apparel %}30{% else %}12{% endif %}"
                                            data-item_id="{{ product.id }}">
                                    <div class="input-group-append">
                                        <button class="increment-qty btn btn-sm btn-black rounded-0"
                                                data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                            <span>
                                                <i class="fas fa-plus fa-sm"></i>
                                            </span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-row detail-btns">
                        <!-- Returns user to previous page -->
                        <div class="col-6 no-gutters">
                            <div class="detail-return btn-shadow">
                                <a id="back_btn" href="#">
                                    <i class="fas fa-angle-left"></i> Go Back
                                </a>
                            </div>
                        </div>
                        <!-- Adds item to shopping bag -->
                        <div class="col-6 no-gutters">
                            <div class="detail-add btn-shadow">
                                <input type="submit" value="Add to bag">
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="courseModal" tabindex="-1" role="dialog" aria-labelledby="courseInformationModal" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="courseInformationModal">{{ product.name }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="icon"><i class="modal-icon far fa-times-circle"></i></span>
                </button>
            </div>
            <div class="modal-body">
                <p class="m-0"><strong>Credits: {% if product.name == 'Lifeguards' %}12{% else %}10{% endif %} weeks</strong></p>
                <p><strong>Age: {{ product.course_age }}</strong></p>
                <hr class="sm-divider">
                <p class="m-2">{{ product.course_info }}</p>
            </div>
        </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
    <script>
        // ref: https://tinyurl.com/25f4rpa4
        $('select').change(function(){
            $('.qty_input').attr('max', $(this).find(":selected").data('stock'));
        });
    </script>
{% include 'shop/includes/quantity_input_script.html' %}
{% endblock %}
