
{% extends "base.html" %}
{% load static %}


{% block content %}
    <div class="container page-margins">

        <!-- Page Breadcrumbs -->
        <div class="row">
            <div class="col-12">
                <nav aria-label="page breadcrumbs">
                    <ol class="breadcrumb bg-white">
                        <li class="breadcrumb-item"><a href="{% url 'home' %}" class="text-dark">Home</a></li>
                        <li class="breadcrumb-item active text-secondary" aria-current="page">All Products</li>
                    </ol>
                </nav>
            </div>
        </div>

        <!-- Page Header -->
        <div class="row">
            <div class="col-12 page-title">
                <h3>All Products</h3>
                <hr class="section-divider">
            </div>
            <div class="col-12 category-links text-center">
                <a href="{% url 'all_apparel' %}" >Apparel</a>
                <a href="{% url 'all_courses' %}">Courses</a>
            </div>
        </div>

        <!-- Page Content -->
        <div class="row products-sec">
            {% for product in products %}
                <div class="col-12 col-md-6 col-lg-4 col-xl-3 p-3 px-md-1">
                    <div class="row product-card">
                        <div class="col-12 p-0">
                            {% if product in courses %}
                                {% if product.image.url %}
                                    <a class="product-img" href="{% url 'course_detail' product.id %}">
                                        <img src="{{ product.image.url }}" alt="{{ product.name }}">
                                    </a>
                                {% else %}
                                    <a class="product-img" href="{% url 'course_detail' product.id %}">
                                        <img src="{% static 'img/no-image.png' %}" alt="{{ product.name }}">
                                    </a>
                                {% endif %}
                            {% else %}
                                {% if product.image.url %}
                                    <a class="product-img" href="{% url 'apparel_detail' product.id %}">
                                        <img src="{{ product.image.url }}" alt="{{ product.name }}">
                                    </a>
                                {% else %}
                                    <a class="product-img" href="{% url 'apparel_detail' product.id %}">
                                        <img src="{% static 'img/no-image.png' %}" alt="{{ product.name }}">
                                    </a>
                                {% endif %} 
                            {% endif %}
                        </div>
                        <div class="col-12">
                            <!-- defines detail url to be used -->
                            {% if product in courses %}
                            <a href="{% url 'course_detail' product.id %}">
                                <h3 class="product-name">{{ product.name }}</h3>
                            </a>
                        {% else %}
                            <a href="{% url 'apparel_detail' product.id %}">
                                <h3 class="product-name">{{ product.name }}</h3>
                            </a>
                        {% endif %}
                        </div>
                        <div class="col-6 text-left font-weight-bolder">
                            {% if product in courses %}
                                {% if product.name == 'Lifeguards' %}
                                    <p>12 weeks</p>
                                {% else %}
                                    <p>10 weeks</p>
                                {% endif %}
                            {% else %}
                                <!-- Blank for Apparel -->
                            {% endif %}
                        </div>
                        <div class="col-6 detail-price">
                            <p>€{{ product.price }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
