
{% extends "base.html" %}
{% load static %}

{% block extra_title %}All Products{% endblock %}

{% block content %}
    <div class="container page-margins">

        <!-- Page Breadcrumbs -->
        {% block breadcrumb_content %}
            <ol class="breadcrumb bg-white">
                <li class="breadcrumb-item"><a href="{% url 'home' %}" class="text-dark">Home</a></li>
                <li class="breadcrumb-item active text-secondary" aria-current="page">All Products</li>
            </ol>
        {% endblock %}
        
        <!-- Page Header -->
        <div class="row">
            <div class="col-12 page-title">
                <h3>All Products</h3>
                <hr class="section-divider">
            </div>
            <div class="col-12 category-links text-center">
                <a class="btn-shadow" href="{% url 'apparel' %}?category=tshirts,jacket_hoodies,accessories,swimwear,swim_accessories" >Apparel</a>
                <a class="btn-shadow" href="{% url 'courses' %}?category=swimming_jnr,swimming_snr,lifesaving,lifeguarding">Courses</a>
            </div>
        </div>

        <!-- Page Content -->
        <div class="row products-sec">

            <!-- Product Card -->
            {% for product in products %}
                <div class="col-12 col-md-6 col-lg-4 col-xl-3 p-3 px-md-1">
                    <div class="row product-card">
                        <div class="col-12 p-0">
                            {% if product.image.url %}
                                <a class="product-img" href="{% url 'product_detail' product.id %}">
                                    <img src="{{ product.image.url }}" alt="{{ product.name }}">
                                </a>
                            {% else %}
                                <a class="product-img" href="{% url 'product_detail' product.id %}">
                                    <img src="{% static 'img/no-image.png' %}" alt="{{ product.name }}">
                                </a>
                            {% endif %}
                        </div>
                        <div class="col-12">
                            <a href="{% url 'product_detail' product.id %}">
                                <h3 class="product-name">{{ product.name }}</h3>
                            </a>
                        </div>
                        <div class="col-6 text-left font-weight-bolder">
                            {% if product.is_course %}
                                {% if product.name == 'Lifeguards' %}
                                    <p>12 weeks</p>
                                {% else %}
                                    <p>10 weeks</p>
                                {% endif %}
                            {% else %}
                                <!-- Blank for Apparel -->
                            {% endif %}
                        </div>
                        <div class="col-6 detail-price">
                            <p>€{{ product.price }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}

            <!-- Pagination -->
            <div class="col-12">
                <div class="container p-4">
                    <div class="pagination justify-content-center">
                        <span class="step-links text-center">
                            {% if products.has_previous %}
                                <a href="?page=1" title="First">
                                    <i class="fas fa-angle-double-left"></i>
                                </a>
                                <a href="?page={{ products.previous_page_number }}" title="Previous">
                                    <i class="fas fa-angle-left"></i>
                                </a>
                            {% endif %}

                            {% if products %}
                                <span class="current">
                                    <strong>{{ products.number }}</strong> of {{ products.paginator.num_pages }}
                                </span>
                            {% endif %}

                            {% if products.has_next %}
                                <a href="?page={{ products.next_page_number }}" title="Next">
                                    <i class="fas fa-angle-right"></i>
                                </a>
                                <a href="?page={{ products.paginator.num_pages }}" title="Last">
                                    <i class="fas fa-angle-double-right"></i>
                                </a>
                            {% endif %}
                        </span>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
