<div class="toast custom-toast rounded-0 border-top-0" data-autohide="true" data-animation="true" data-delay="4000">
    <div class="arrow-up"></div>
    <div class="w-100 toast-capper"></div>
    <div class="toast-header">
        <i class="fas fa-shopping-bag mr-auto"></i>
        <button class="ml-2 mb-1 close" type="button" data-dismiss="toast" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="toast-body">
        <div class="row">
            <div class="col toast-msg text-center">
                <p class="text-uppercase toast-highlighted font-weight-bolder">{{ message }}</p>
            </div>
        </div>
        {% if grand_total %}
            <p class="toast-count"><span>Your Bag</span> ({{ product_count }} items)</p>
            <div class="bag-snippet">
                {% for bag_item in bag_items %}
                    <div class="row">
                        <div class="col-3 my-1">
                            <img src="{{ bag_item.product.image.url }}" alt="{{ bag_item.product.name }}" class="w-100">
                        </div>
                        <div class="col-9">
                            <p class="my-0"><strong>{{ bag_item.product.name }}</strong></p>
                            <p class="my-0 small">SKU: {{ bag_item.product_select }}</p>
                            <p class="my-0 small text-muted">Qty: {{ bag_item.quantity }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col">
                    <strong><p class="mt-3 mb-1">
                        Total{% if free_delivery_delta > 0 %} (Exc. delivery){% endif %}:
                        <span class="float-right">{{ total|floatformat:2 }}</span>
                    </p></strong>
                    {% if free_delivery_delta > 0 %}
                        <p class="mb-0 toast-highlighted">
                            Spend <strong>€{{ free_delivery_delta }}</strong> more for free delivery!
                        </p>
                    {% endif %}
                    <a href="{% url 'shopping_bag' %}" class="toast-btn btn btn-block rounded-0">
                        <span>Go To Secure Checkout</span>
                        <i class="fas fa-lock"></i>
                    </a>
                </div>
            </div>
        {% endif %}
    </div>
</div>